/* Logo */
.logo-div {
    position: relative;
    text-align: center;
    align-items: center;
}

.logo-img {
    align-items: center;

    background-image: var(--logo);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 60%;
    height: 10vh;

    background-size: 90%;

    object-fit: cover !important;

    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

/* Line */
.main-line {
    position: relative;
    width: 70%;
    margin: auto;
}

/* Login */
.login-div {
    padding-top: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-div > * {
    margin: 2vw;
}

.login-div > input {
    padding-left: 3vw;
    background-color: rgb(235, 235, 235);
    border: none;
    outline: none;
    border-radius: 1vh;
    font-size: 3vw;
    width: 70vw;
    height: 10vw;
}

.login-div .outputtext {
    display: none;
    color: red;
    font-size: 3.8vw;
}

#submit {
    font-size: 4vw;
    color: white;
    margin-top: 12vw;
    background-color: #0DA2FF;
}

.login-div > input:hover {
    background-color: rgb(197, 197, 197);
    border: none;
    outline: none;
}

#forgot-pw {
    margin-right: 15vw;
    font-size: 2vw;
    align-self: flex-end;

    color: var(--regulartext);
}

#signup {
    font-size: 3vw;

    color: var(--regulartext);
}

.link {
    color: #0DA2FF;
}