/* --------- Start Navbar --------- */

.navbar {
    /* background-color: red; */
    width: 100%;
    position: fixed !important;
    bottom: 0 !important;
    opacity: 0;
    display: none;
    padding: 0 !important;
    line-height: 20px !important;
    transition: 0.3s opacity ease !important;
}

.navbarfade {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0, 0), rgb(255, 255, 255) 100%);
    width: 100%;
    height: 2vh;
}

.main-button-full-report {
    margin-bottom: 15vh;
}

.navbarbox {
    background-color: #FFFFFF;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    height: 0.1vh;
    width: 60vw;
    margin-top: 1vh;
    background-color: #000000;
    opacity: 16%;
}

.navitems {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navitem div {
    height: 3vh !important;
}

.icon {
    width: 3vh;
    height: 3vh;
    fill: #848484;
}

.icontext {
    font-weight: 500;
    font-size: 1.18vh;
}

/* --------- End Navbar --------- */