hr {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 20vh;
    width: 70%;
}

.containers {
    margin-bottom: 20vh;
}

.user {
    margin-top: 10vh;
    display: flex;
    align-items: flex-end;
    height: 30vh;
}

.user .name {
    padding-left: 20vw;
    width: 40vw;
    font-size: 3.79vh;
    font-weight: bolder;
    line-height: 90%;
}

.user .profilepic {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.user .profilepic img {
    object-fit: cover;
    object-position: center;
    width: 30vw;
    height: auto;
    border-radius: 100px;
}

.track-work {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    letter-spacing: 0px;
}

.track-work #title {
    font-size: 5vw;
    font-weight: bold;
}

.track-work #content {
    font-size: 5vw;
    font-weight: 700;
    color: gray
}

.track-work .track {
    width: 50vw;
}

.track-work .work {
    width: 50vw;
}

.work-capacity {
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 10vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 85px;
}

.work-capacity .title {
    padding-left: 0.5vw;
    width: 50vw;
    margin-top: 2vh;
    font-size: 5vh;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.WorkCapacityCircle {
    height: 40vw;
    width: auto;

    font-size: 50px;
    font-weight: bold;
}

.StepsCircle {
    height: 40vw;
    width: auto;
    font-size: 50px;
    font-weight: bold;
}

.KCALCircle {
    height: 40vw;
    width: auto;
    font-size: 50px;
    font-weight: bold;
}

.pulse-index-circle {
    margin-left: auto;
    margin-right: auto;

    height: 70vh;
    width: 70vw;
}

.pulse-index-circle > p {
    position: absolute;

    top: 50%;
    left: 50%;
    
    color: black;

    font-size: 8vw;
    font-weight: bold;

    transform: translate(-50%, -50%);
}

.HeartRate-circle {
    margin-left: auto;
    margin-right: auto;

    height: 70vh;
    width: 70vw;
}

.HeartRate-circle > p {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 50%;
    left: 50%;
    
    color: black;

    font-size: 8vw;
    font-weight: bold;

    transform: translate(-50%, -50%);
}

.SleepTime-circle {
    margin-left: auto;
    margin-right: auto;

    height: 70vh;
    width: 70vw;
}

.SleepTime-circle > p {
    position: absolute;

    top: 50%;
    left: 50%;
    
    color: black;

    font-size: 5vw;
    font-weight: bold;

    transform: translate(-50%, -50%);
}

.test {
    height: 450px;
}

.buttons{
    height: 1vh !important;
    width: 1.1vh !important;
    border-radius: 100% !important;
    z-index: 0 !important;
}

.buttons2{
    position: relative;
    top: 3vh !important;
    height: 1vh !important;
    width: 1.1vh !important;
    border-radius: 100% !important;
    z-index: 0 !important;
}

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navbarfade {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0, 0), rgb(255, 255, 255) 100%);
    width: 100%;
    height: 2vh;
}

.navbarbox {
    background-color: #FFFFFF;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    height: 0.1vh;
    width: 60vw;
    margin-top: 1vh;
    background-color: #000000;
    opacity: 16%;
}

.navitems {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 3vh;
    height: 3vh;
    fill: #848484;
}

.icontext {
    font-weight: 500;
    font-size: 1.18vh;
}