body {
    user-select: none;
}

hr {
    margin: auto !important;
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
    width: 50% !important;
}

.carousel-control-next {
    position: absolute !important;
    right: -5vw !important;
}

.carousel-control-prev {
    position: absolute !important;
    left: -5vw !important;
}

.div-1 {
    margin-top: 2vh;
}

.userprofile {
    display: flex;
    font-weight: 800;
    justify-content: center;
    align-items: flex-end;
    font-size: xxx-large;
    margin-bottom: 0;
    line-height: 7vw;
}

.userprofile .profilepic {
    display: flex;
    justify-content: center;
}

.userprofile .profilepic img {
    object-fit: cover;
    object-position: center;
    width: 25vw;
    height: auto;
    border-radius: 100px;
}

.short-statistics {
    display: flex;
    text-align: center;
}

.short-statistics div {
    width: 50%;
}

.short-statistics div * {
    margin-bottom: 0px !important;
}

.short-statistics .title {
    font-weight: 700;
    font-size: 3.6vw;
}

.short-statistics .info {
    font-weight: 700;
    font-size: 3.3vw;
    color: #848484;
}

/* Statistics 1 */
.div-2 .stat-container {
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 85px;
}

.div-2 .stat-container .title {
    text-align: center;
    padding-left: 0.5vw;
    font-size: 7vw;
    font-weight: bold;
}

.div-2 #circlegen {
    height: 40vw;
    width: 40vw;
    margin-bottom: 3vh;
}

.div-2 .buttons {
    height: 1vh !important;
    width: 1.1vh !important;
    border-radius: 100% !important;
    z-index: 0 !important;
}

/* Statistics 2 */

.main-content {
    bottom: 15%;
    top: 5%;
}

.div-3 .stat-container {
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 10vw;
    top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 85px;
}

.div-3 .stat-container .title {
    text-align: center;
    padding-left: 0.5vw;
    font-size: 7vw;
    font-weight: bold;
}

.div-3 #circlegen {
    height: 40vw;
    width: 40vw;
    margin-bottom: 3vh;
}

.carousel-indicators {
    margin-bottom: 0 !important;
}

.div-3 .buttons {
    height: 1vh !important;
    width: 1.1vh !important;
    border-radius: 100% !important;
}