hr {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
}

.containers {
    margin-bottom: 15vh;
}

.user {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    height: 250px;
}

.user .name {
    padding-left: 100px;
    width: 50%;
    font-size: 85px;
    font-weight: bolder;
    line-height: 90%;
}

.user .profilepic {
    display: flex;
    justify-content: center;
    width: 50%;
}

.user .profilepic img {
    object-fit: cover;
    object-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.track-work {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    letter-spacing: 0px;
}

.track-work #title {
    font-size: 40px;
    font-weight: bold;
}

.track-work #content {
    font-size: 35px;
    font-weight: 700;
    color: gray
}

.track-work .track {
    width: 50%;
}

.track-work .work {
    width: 50%;
}

.work-capacity {
    margin-top: 160px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 85px;
}

.work-capacity .title {
    padding-left: 100px;
    display: flex;
    width: 40%;
    font-size: 50px;
    font-weight: bold;
}

.work-capacity .statistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 45%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: lightgray;
    border-radius: 300px;
}

.pulse-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 50%;
    background-color: rgb(74, 211, 74);
    border-radius: 100%;
    margin: auto;
    margin-top: 120px;
}

.pulse-index .title {
    text-align: center;
    height: 30%;
    width: 30%;
    font-size: 50px;
    font-weight: bold;
}

.buttons{
    height: 1vh !important;
    width: 1.1vh !important;
    border-radius: 100% !important;
    z-index: 0 !important;
}

.navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.navbarfade {
    background-image: linear-gradient(to bottom, rgb(255, 0, 0, 0), rgb(255, 255, 255) 100%);
    width: 100%;
    height: 2vh;
}

.navbarbox {
    background-color: #FFFFFF;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperator {
    height: 0.1vh;
    width: 60vw;
    margin-top: 1vh;
    background-color: #000000;
    opacity: 16%;
}

.navitems {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 3vh;
    height: 3vh;
    fill: #848484;
}

.icontext {
    font-weight: 500;
    font-size: 1.18vh;
}