/* --------- MAIN PAGE --------- */

/* --------- Start Header --------- */

/* Header Photo */

body {
    padding: 1vh;
}

.logo-div {
    position: relative;
    text-align: center;
    align-items: center;
}

.logo-img {
    align-items: center;

    background-image: var(--logo);
    /* background-image: url('../img/logowhite.png'); */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 10vh;

    background-size: 90%;

    object-fit: cover !important;
}

.date-div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

.date-div p {
    font-size: 1.6vh;

    color: var(--regulartext);
}

.main-line {
    position: relative;

    width: 70%;

    margin: auto;
}

/**\ Main \**/
/* Profile */

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
}

.profile-img {
    width: 50vw;
    border-radius: 30vh;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.profile-name {
    margin-top: 2vh;
    font-weight: 700;
    font-size: 2.3vh;

    color: var(--regulartext);
}

.profile-desc, .profile-lvl {
    margin-top: 0.5vh;
    font-weight: 400;
    font-size: 1.6vh;

    color: var(--regulartext);
}

/* Settings */

.settings-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-left: 5vw;
    position: fixed;
    bottom: 15vh;
}

.setting {
    display: flex;
    align-items: center;
    width: 90vw;

    color: var(--regulartext);
    fill: var(--regulartext);
}

.setting-icon-svg {
    width: 7vw;
    height: 7vw;
}

.setting-title {
    margin-left: 7vw;
    font-weight: 600;
    font-size: 1.8vh;
    margin-bottom: 0.3vh;
}

.setting-line {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
